<%= form_for(@bebe) do |f| %>
  <% if @bebe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bebe.errors.count, "error") %> prohibited this bebe from being saved:</h2>

      <ul>
      <% @bebe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :idade %><br>
    <%= f.number_field :idade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
