<p id="notice"><%= notice %></p>

<h1>Listas de Bebes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bebes.each do |bebe| %>
      <tr>
        <td><%= bebe.nome %></td>
        <td><%= bebe.idade %> anos</td>
        <td><%= link_to 'Mostrar', bebe %></td>
        <td><%= link_to 'Editar', edit_bebe_path(bebe) %></td>
        <td><%= link_to 'Apagar', bebe, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Bebe', new_bebe_path %>
