%h1 Listing bebes

%table
  %thead
    %tr
      %th Nome
      %th Idade
      %th
      %th
      %th

  %tbody
    - @bebes.each do |bebe|
      %tr
        %td= bebe.nome
        %td= bebe.idade
        %td= link_to 'Mostrar', bebe
        %td= link_to 'Editar', edit_bebe_path(bebe)
        %td= link_to 'Excluir', bebe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Novo Bebe', new_bebe_path
