<%- model_class = Rotina -%>
<%- model_class1 = Bebe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:bebes_id) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rotinas.each do |rotina| %>
      <tr>
        <td><%= link_to rotina.id, rotina_path(rotina) %></td>
        <td><%= rotina.nome %></td>
        <td><%= rotina.bebes_id %></td>
      
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_rotina_path(rotina), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      rotina_path(rotina),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rotina_path,
            :class => 'btn btn-primary' %>
