<%- model_class = Rotina -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @rotina.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bebes_id) %>:</strong></dt>
  <dd><%= @rotina.bebes_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              rotinas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_rotina_path(@rotina), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              rotina_path(@rotina),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
