= form_for @dietum do |f|
  - if @dietum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dietum.errors.count, "error")} prohibited this dietum from being saved:"
      %ul
        - @dietum.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nome
    = f.text_field :nome
  .field
    = f.label :bebe
    = f.text_field :bebe
  .actions
    = f.submit 'Save'
